<h2>Volunteer Tracker</h2>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Please input your project title</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Create Project</button>
</form>
