<% if @projects.any?() %>
  <h3>Here are your list of projects:</h3>
  <ul>
    <% @projects.each() do |project| %>
      <li><a href="project/<%= project.id()%>"><%= project.title() %></a></li>
    <% end %>
  </ul>
    <% else %>
      <p>There are no projects yet!</p>
    <% end %>

<p><a href="/">Return to Main Page</a></p>
