<h1>Success!</h1>

<h3>A volunteer has been saved for...</h3>
<h3><%= @project.title() %>!</h3>

<hr>
<p><a href="/">Return to Home Page</a></p>
<p><a href="/volunteers">View a list of volunteers</a></p>
